

img {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transition: all .5s;
    /* width: 100%; */
    /* border: 1em; */
}

.previous {
    cursor: pointer;
    position: absolute;
    margin-top: -10em;
    margin-left: 18em;
    transition: 0.5s ease;

}

.next {
    cursor: pointer;
    position: absolute;
    margin-top: -10em;
    margin-right: 26em;
    transition: 0.5s ease;
}


.next {
    right: 0;
}

.bollen {
    text-align: center;
    margin-top: 50em;
}

.bol1,
.bol2,
.bol3{
    display: inline-block;    cursor: pointer;
    height: 2em;
    width: 2em;
    margin: 1.5em;
    background-color: #0e0f0d;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #e01a1a;
}


.foto2,
.foto3 {
    opacity: 0;
}

.show {
    opacity: 100;
}

.hide {
    opacity: 0;
}
